.ipynb_checkpoints/
__pycache__/
inputs/
*/input.txt
*/ans.txt
*/ans_b.txt
.virtual_documents/
rust-project.json
.mypy_cache/

# Compiled outputs
**/bin/
**/target/


# Added by cargo

/target

# Debugging visualizations & other
**.gif
**.mp4
